a:link {
	text-decoration: none;
}

#participation a:link {
	color: #FF0000;
	}

#requirements a:link {
	color: #009999;
	}

a:visited {
	text-decoration: none;
	color: #660666;
	}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}

body { 
	/* background-color: #333333; */
	margin: 0px; 
	margin-left:122px;
	font-family: "FontAwesome";
	font-size: 12px;
	line-height: 14px;
	/* font-weight: bold; */
	}
	
#container1	{
	position:absolute;
	margin-top:5px;
	width: 658px;
	height: 800px;
	background-image: url("../data-01.jpg");
	background-repeat:	no-repeat;
	background-position:top;
	background-color: #ff751a;
	}

#container2	{
	position:absolute;
	margin-top:5px;
	width: 658px;
	height: 800px;
	background-image: url("../Akamaru_p1.png");
	background-repeat:	no-repeat;
	background-position:top;
	background-position: 50% 2%;
	background-color: #3498DB;
	background-size: 480px 280px
	}
	
#intro1	{
	margin-top: 30px;
	text-align: right;
	color: #FFFFFF;
	}
	
#intro	{
	margin-top: 50px;
	text-align: right;
	color: #FFFFFF;
	}
#pageHeader {
	margin-top: 50px;
	height:200px;
	padding-right: 25px;
	}
#pageHeader h1 , #pageHeader h2 , #pageHeader span	{
	margin-top: 50px;
	height: 15px;
	}

#pageHeader1 h1 , #pageHeader1 h2 , #pageHeader1 span	{
	margin-top: -10px;
	height: 17px;
	}
	
#supportingText, #linkList {
	margin-top: 220px;
	padding: 85px;
	width: 490px;
	color: FFFFFF;
	}
	
#intro h3 span, #supportingText h3 span	{
		}

#intro h3	{
			width: 213px;
			height: 75px;
			color: FFFFFF;
			}

/* p.p1	{
		color: #000000;
		margin-top: 25px;
		height: 50px;
		} */
		
p.p1, p.p2, p.p3	{
		margin: 0px;
		font-size: 14px;
		padding: 0px;
		margin-top: 15px;
		height: 50px;
		}

ul#lst {
    padding: 10;
}

ul#lst li {
    display: inline;
}

ul#lst li a {
    background-color: black;
    color: white;
	margin-top: 10px;
	height: 20px;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 11px 11px 11px 11px;
}

ul#lst li a:hover {
    background-color: orange;
}
		
#explanation h3	{
			width: 313px;
			height: 10px;
			margin: 0px;
			padding: 0px 0 0 0;
			color: FFFFFF;
			font-weight: bold;
			}
	
#participation h3	{
			width: 313px;
			height: 5px;
			margin-top: 40px;
			color: FFFFFF;
			}
			
#benefits h3	{
			width: 313px;
			height: 10px;
			color: FFFFFF;
			}
			
#linkList	{
	position: absolute;
	top: 330px;
	/* left: 100px; */
	width: 600px;
	height: 0px;
	z-index: 1;
	align: center;
		}
		
#lselect li {
    list-style-type: none;
}

#larchives li {
    list-style-type: none;
}
		
#linkList2	{
	margin-top: 0.px;
	margin-left: 0px;
	margin-top: 0px;
	left: 0px;
	width: 600px;
				}

#lselect	{
		width: 100px;
		height: auto;
		color:#000000;
			}

#lselect h3 span, #larchives h3 span, #lresources h3 span	{
		}
		
#lselect h3, #larchives h3, #lresources h3	{
		width: 229px;
		height: 50px;
		}
		
#lselect h3	{
			width: 229px;
			height: 40px;
			top: 0px;
			margin: 0px;
			padding: 0px;
			}
		
#lselect ul, #larchives ul, #lresources ul	{
	margin-top: 5px;
		}

/* #lselect li {
	border-bottom: 1px dotted #000000;
	width: 100px;
	margin-bottom: 8px;
} */

#lselect .c {
	text-transform: capitalize;
}

#lselect a {
	display: block;
	font-weight: bold;
	color:#000000;
}

#lselect a:hover {
	display: block;
	font-weight: bold;
	color: #B99541;
	background-color:#FFFFFF;
}

#lselect a.c {
	color: #000000;
	display: inline;
	font-weight: bold;
}

#lselect a.c:hover {
	color: #000000;
	display: inline;
	font-weight: bold;
	background-color:#3399FF;
}


#larchives a, #lresources a {
	font-weight: bold;
	color:#FFFFFF;
}

#larchives li, #lresources li {
	color: FFFFFF;
	width: 400px;
	list-style-position: outside;
}

#lresources li {
}

/* facebook icon */
#larchives ul, #lresources ul {
	margin-top: 50px;
	margin-left: 155px;
	align: center;
}

#larchives	{
	color: FFFFFF;
	width: 100px;
	height: 169px;
	align: center;
					}

#larchives h2	{
	color: FFFFFF;
	width: auto;
	height: 220px;
	top: 50px;
	margin: 60px;
	padding: 50px;
			}
			
#footer		{
			background-repeat:no-repeat;
			width: 470px;
			height: 0px;
			text-align:center;
			margin-top:-10px;
			padding: 10px;
			}

#footer	a	{
			color: #FF0000;
				}


.smGlobalBtn{ /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-shadow: 0 4px 7px #000000;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    line-height: 2em;
    border-radius: 15px;
    -moz-border-radius:15px;
    -webkit-border-radius:25px;
}


.chartme-btn-main{
  background:url("../1185642_1404683083092096_741412155_n.jpg");
}

.chartme-btn-main.active{
  background-position: 0px 0px;
}